<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebRTC Demo</title>
    </head>
    <body>
        <h1>Video Stream</h1>
        <video id="myStream" width="300" controls></video>
        <br>
        <label>My Connection Token</label>
        <br>
        <textarea rows="3" cols="100" id="txtMySignal"></textarea>
        <br>
        <input type="text" placeholder="Your friend's signal" id="txtFrSignal">
        <br>
        <button id="btnConnect">Connect</button>
    </body>    
    <script src="bundle.js"></script>
</html>
